*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Rubik', sans-serif;   
    font-weight: 300;


}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
html{
    font-size: 62.5%;
}

/* section 1 */
.section-1{
    width: 100%;
    height: 100vh;
    background: url(images/bg.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-1-heading{
    font-size: 6rem;
    font-weight: 700;
    color: white;
    background-color: #e41c6f;
    margin-bottom: 5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    border-bottom: .35rem solid white;
    text-shadow: .2rem .2rem 1rem grey;
    transform: skew(-10deg);
}


.my-pic{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border: .5rem dotted #e41c6f;
    background-color: rgba(255,255,255.1);

}

.name-text{
    color: white;
    font-size: 4rem;
    margin-top: 4rem;
    font-weight: 400;
    letter-spacing: .3rem;
    background-color: #e41c6f;
    padding: 10px;
    border-bottom: .3rem solid white;
    transform: skew(-10deg);

}

.section-1-btn{
    font-size: 1.9rem;
    background-color: white;
    color: #333;
    margin-top: 7rem;
    font-size: 3rem;
    padding: 1rem;
    border: solid .3rem black;

}

/* navbar */

.navbar{
    background-color: #e41c6f;
    height: 4rem;
}

.navbar-link{
    padding: 0;
    position: relative;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    position: relative;
    margin: 0 20px;
    transition: cubic-bezier(0.39, 0.575, 0.565, 1) .2s;

}

.navbar-link::before{
    content: "";
    height: 2px;
    width: 110%;
    border-bottom: 1px solid black;
    position: absolute;
    bottom: 0;
    left: -5%;
    visibility:hidden;
}
.navbar-link:hover.navbar-link{
    color: black;
}

.navbar-link:hover::before{
    visibility: visible;
}
